.shell {
  display: flex;
  flex-direction: row;
  align-items: center;
}


.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.listView {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.preview {
  flex: 1;
  display: flex;
  justify-content: center;
}

.colorRed {
  background-color: red;
  width: 350px;
  height: 500px;
}

.mainFrame {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  padding: 4px;
}