.shell {
  display: flex;
  flex-direction: row;
  align-items: center;
}


.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.listView {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.preview {
  flex: 1;
  display: flex;
  justify-content: center;
}

.documentView {
  border: 1px solid black;
}

.colorRed {
  background-color: red;
  width: 350px;
  height: 500px;
}

.mainFrame {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  padding: 4px;
}