.shell {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 95vh;
  padding-top: 50px;
}
.listView {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 80vh;
}

.pdfList {
  overflow-y: auto;
  overflow-x: hidden;
}

.preview {
  flex: 1;
  display: flex;
  justify-content: center;
}

.colorRed {
  background-color: red;
  width: 350px;
  height: 500px;
}

.mainFrame {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
}